
<div class="row">
<div class="col-4">
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label textos-formulario">Nombre del producto</label>
    <input type="text" class="form-control" id="exampleFormControlInput1">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput2" class="form-label textos-formulario">Color</label>
  <select class="form-select" aria-label="Default select example">
<option selected>Verde</option>
<option value="1">Amarillo</option>
<option value="2">Azul</option>
<option value="3">Rojo</option>
<option value="4">Cafe</option>
<option value="5">Negro</option>
<option value="3">Blanco</option>
</select>
</div>
<div class="mb-3">
  <label for="exampleFormControlInput3" class="form-label textos-formulario">Tipo de mascota</label>
  <select class="form-select" aria-label="Default select example">
<option selected>Perro</option>
<option value="1">Gato</option>
</select>
<div class="mb-3">
  <label for="exampleFormControlInput4" class="form-label textos-formulario">Raza</label>
    <input type="text" class="form-control" id="exampleFormControlInput1">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput5" class="form-label textos-formulario">Precio</label>
    <input type="number" class="form-control" id="exampleFormControlInput1">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput6" class="form-label textos-formulario">En oferta</label>
  <br>
  <div class="form-check form-check-inline">
<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
<label class="form-check-label textos-formulario" for="inlineRadio1">Si</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
  <label class="form-check-label textos-formulario" for="inlineRadio2">No</label>
</div>
</div>
<button type="button"  class="btn btn-primary buscar">Buscar</button>
</div>


  </div>

  <div class="col-8">
  <productos-disponibles></productos-disponibles>
  </div>

  <div class="col-12 contactenos">
    <div id="about">
  <p class="piePagina">SOBRE NOSOTROS </p>
  </div>



  </div>

  </div>
