<div class="container">
  <h1 class="Nombre_pagina">Informacion de tu cuenta</h1>
  <div class="row justify-content-md-center">
    <div class="col-6 ">
      <label>Escriba su numero de cedula</label>
      <div class="input-group mb-3">
        <input type="number" class="form-control" placeholder="" aria-label="Username" [(ngModel)]="txtCedula"
          aria-describedby="basic-addon1">
      </div>

      <button type="button" class="btn btn-primary actualizar" (click)="listarUsuario()">Buscar</button>
    </div>
  </div>

  <div class="row" *ngFor="let item of usuario">
    <div class="col-6">
      <label>Nombre</label>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="" aria-label="Username" [(ngModel)]="nombres"
          aria-describedby="basic-addon1">
      </div>

      <label>Correo electronico</label>
      <div class="input-group mb-3">

        <input type="text" class="form-control" placeholder="" aria-label="Username" [(ngModel)]="correo_electronico"
          aria-describedby="basic-addon1">
      </div>

      <label>Fecha de nacimiento</label>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="" aria-label="Username" [(ngModel)]="fecha_nacimiento"
          aria-describedby="basic-addon1">
      </div>
    </div>

    <div class="col-6">
      <label>Apellidos</label>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="" aria-label="Username" [(ngModel)]="apellidos"
          aria-describedby="basic-addon1">
      </div>

      <label>Numero de celular</label>
      <div class="input-group mb-3">
        <input type="number" class="form-control" placeholder="" aria-label="Username" [(ngModel)]="numero_celular"
          aria-describedby="basic-addon1">
      </div>

      <label>Numero de cedula</label>
      <div class="input-group mb-3">
        <input type="number" class="form-control" placeholder="" aria-label="Username" [(ngModel)]="cedula"
          aria-describedby="basic-addon1">
      </div>
    </div>
    <button type="button" class="btn btn-primary actualizar tamanio_actualizar" routerLink="/busqueda-productos" (click)="actualizarUsuario()">Actualizar</button>
    <button type="button" class="btn btn-primary actualizar tamanio_actualizar" data-bs-toggle="modal" data-bs-target="#modalEliminar">Eliminar</button>
  </div>



  <div class="modal fade" id="modalEliminar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Confirmación</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Autenticacion de administrador
          <input type="number" class="form-control" placeholder="" aria-label="Username" [(ngModel)]="cedula_admin">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary"  data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-danger" (click)="verificarAdmin()">Eliminar</button>
        </div>
      </div>
    </div>
  </div>






</div>
