
<div class = "container fondo">
<div class = "row">
  <nav class="navbar navbar-expand-lg shadow p-3 mb-5  rounded nave ">
    <div class = "col-2">
      <a href="#">
<img src="./assets/img/logo.jpg" width="100" height="100">
</a>
    </div>
    <div class = "col-10">
<div class = "col- 12 Nombre_pagina">Royal Pet</div>
<div class = "col-12 enlaces">

<div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
<ul class="navbar-nav">
  <li class="nav-item dropdown navegacion">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Alimentos
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Croquetas</a></li>
            <li><a class="dropdown-item" href="#">Galletas</a></li>
            <li><a class="dropdown-item" href="#">Concentrados</a></li>
          </ul>
          </li>

          <li class="nav-item dropdown navegacion">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Aseo
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                    <li><a class="dropdown-item" href="#">Cepillos</a></li>
                    <li><a class="dropdown-item" href="#">jabones</a></li>
                    <li><a class="dropdown-item" href="#">Champoo</a></li>
                  </ul>
                  </li>

                  <li class="nav-item dropdown navegacion">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Juguetes
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Pelotas</a></li>
                            <li><a class="dropdown-item" href="#">Huesos</a></li>
                            <li><a class="dropdown-item" href="#">Gimnasios</a></li>
                          </ul>
                          </li>
    <button type="button" class="btn btn-outline-secondary navegacion">LOGIN</button>
    <button type="button" class="btn btn-outline-secondary navegacion">REGISTRO</button>
</ul>
</div>

</div>
      </div>
  </nav>


  </div>
  <div class="row">
<div class="col-4">
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label textos-formulario">Nombre del producto</label>
    <input type="text" class="form-control" id="exampleFormControlInput1">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput2" class="form-label textos-formulario">Color</label>
  <select class="form-select" aria-label="Default select example">
<option selected>Verde</option>
<option value="1">Amarillo</option>
<option value="2">Azul</option>
<option value="3">Rojo</option>
<option value="4">Cafe</option>
<option value="5">Negro</option>
<option value="3">Blanco</option>
</select>
</div>
<div class="mb-3">
  <label for="exampleFormControlInput3" class="form-label textos-formulario">Tipo de mascota</label>
  <select class="form-select" aria-label="Default select example">
<option selected>Perro</option>
<option value="1">Gato</option>
</select>
<div class="mb-3">
  <label for="exampleFormControlInput4" class="form-label textos-formulario">Raza</label>
    <input type="text" class="form-control" id="exampleFormControlInput1">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput5" class="form-label textos-formulario">Precio</label>
    <input type="number" class="form-control" id="exampleFormControlInput1">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput6" class="form-label textos-formulario">En oferta</label>
  <br>
  <div class="form-check form-check-inline">
<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
<label class="form-check-label textos-formulario" for="inlineRadio1">Si</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
  <label class="form-check-label textos-formulario" for="inlineRadio2">No</label>
</div>
</div>
<button type="button" class="btn btn-primary buscar">Buscar</button>
</div>
<div class="col-8">

</div>

  </div>
  <div class="col-12 contactenos">
    <div id="about">
  <p class="piePagina">SOBRE NOSOTROS </p>
  </div>




  </div>
  </div>
